$logo-color: #f44336;
$text-color: #fafafa;
$font-name: "Open Sans", sans-serif; 




.wrapper {
    width: 200px;
    height: 200px;
    background-color: $logo-color;
    p {
        font-size: 30px;
        color: $text-color;
        font-family: $font-name;
    }
}

